@font-face {
    font-family: nothing_regular;
    src: url(./font_family/nothing_regular.woff);
}
* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
body {
    margin: 0;
    padding: 0;
}
.dark {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    position: absolute;
}
.main_text_0 {
    font-family: nothing_regular;
    font-size: 6rem;
    color: rgba(221, 221, 221, 0.7);
    padding: 0;
    margin: 0;
    z-index: 1;
}
.background_black {
    display: none;
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
input {
    display: none;
}

#nothing:checked ~ .background_black{
    display: block;
}
.text_1_div {
    display: flex;
    justify-content: center;
    
}
#text_1 {
    font-family: nothing_regular;
    font-size: 2.5rem;
    top: 70vh;
}
.text_main {
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: bold;
    position: fixed;
    color: rgba(221, 221, 221, 0.7);
}
.text_2_div {
    
    display: none;
    justify-content: right;
}
#text_2 {
    padding: 0;
    top: 30vh;
    right: 10vw;
    rotate: 45deg;
    font-size: 1.2rem;
}
.text_3_div {
    display: none;
    justify-content: left;
}
#text_3 {
    width: 300px;
    top: 30vh;
    padding: 0;
    rotate: -45deg;
    font-size: 1.2rem;
}
.text_4_div {
    display: none;
    justify-content: center;
    padding-top: 0;
}
#text_4 {
    width: 300px;
    top: 10vh;
    padding: 0;
    rotate: 10deg;
    font-size: 1.2rem;
}
.text_5_div {
    display: none;
    justify-content: center;
}
#text_5 {
    top: 20vh;
    padding: 0;
    rotate: -10deg;
    font-size: 1.5rem;
}
.text_6_div {
    display: none;
    justify-content: end;
}
#text_6 {
    width: 500px;
    top: 30vh;
    right: -40px;
    rotate: 40deg;
    padding: 0;
    font-size: 1rem;
}
.text_7_div {
    display: none;
    justify-content: start;
}
#text_7 {
    width: 300px;
    top: 15vh;
    left: 5vw;
    rotate: -20deg;
    padding: 0;
    font-size: 1.1rem;
}
.text_8_div {
    display: none;
    justify-content: center;
}
#text_8 {
    top: 5vh;
    padding: 0;
    text-align: center;
    font-size: 1.1rem;
}
.text_9_div {
    display: none;
    justify-content: start;
}
#text_9 {
    width: 360px;
    top: 10vh;
    left: 5vw;
    rotate: -15deg;
    padding: 0;
    text-align: center;
    font-size: 1.1rem;
}
.text_10_div {
    display: none;
    justify-content: end;
}
#text_10 {
    top: 20vh;
    width: 400px;
    rotate: 30deg;
    padding: 0;
    font-size: 1rem;
}
.text_11_div {
    display: none;
    justify-content: center;
}
#text_11 {
    top: 25vh;
    padding: 0;
    text-align: center;
    font-size: 2rem;
}
.text_12_div {
    display: none;
    justify-content: end;
}
#text_12 {
    width: 600px;
    top: 10vh;
    rotate: 7deg;
    padding: 0;
    font-size: 1rem;
}
.text_13_div {
    display: none;
    justify-content: end;
}
#text_13 {
    width: 300px;
    top: 5vh;
    padding: 0;
    font-size: 1rem;
}
.text_14_div {
    display: none;
    justify-content: start;
}
#text_14 {
    width: 600px;
    top: 12vh;
    left: 4vw;
    rotate: -10deg;
    padding: 0;
    font-size: 1.5rem;
}
.text_15_div {
    display: none;
    justify-content: start;
}
#text_15 {
    top: 10vh;
    left: 4vh;
    padding: 0;
    rotate: -5deg;
    text-align: center;
    font-size: 1.1rem;
}
.text_16_div {
    display: none;
    justify-content: center;
}
#text_16 {
    padding: 0;
    top: 15vh;
    text-align: center;
    rotate: 10deg;
    font-size: 2rem;
}
.text_17_div {
    display: none;
    justify-content: end;
}
#text_17 {
    width: 300px;
    top: 20vh;
    padding: 0;
    rotate: 5deg;
    font-size: 1rem;
}
.text_18_div {
    display: none;
    justify-content: start;
}
#text_18 {
    width: 300px;
    top: 5vh;
    left: 2vw;
    padding: 0;
    font-size: 1rem;
}
.text_19_div {
    display: none;
    justify-content: center;
}
#text_19 {
    top: 25vh;
    padding: 0;
    text-align: center;
    rotate: -5deg;
    font-size: 2rem;
}
.text_20_div {
    display: none;
    justify-content: center;
}
#text_20 {
    top: 25vh;
    padding: 0;
    text-align: center;
    font-size: 2rem;
}
.hover_button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
}
.button {
    display: flex;
    position: fixed;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
a {
    display: flex;
    position: fixed;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 500 !important;
}
.a_for {
    background-color: rgba(221, 221, 221, 0.7);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: none;
}
#butt_1 {
    bottom: 5vh;
    left: 60vw;
}
#butt_2 {
    bottom: 8vh;
    left: 48vw;   
}
#butt_3 {
    bottom: 20vh;
    left: 5vw;
    
}
#butt_4 {
    bottom: 25vh;
    left: 90vw;
    
}
#butt_5 {
    bottom: 12vh;
    left: 70vw;
    
}
#butt_6 {
    bottom: 6vh;
    left: 87vw;
    
}
#butt_7 {
    bottom: 9vh;
    left: 30vw;
    
}
#butt_8 {
    bottom: 13vh;
    left: 55vw;
    
}
#butt_9 {
    bottom: 13vh;
    left: 83vw;
    
}
#butt_10 {
bottom: 9vh;
left: 14vw;   
}
#butt_11 {
bottom: 6vh;
left: 38vw;   
}
#butt_12 {
bottom: 5vh;
left: 22vw;
}
#butt_13 {
bottom: 3vh;
left: 77vw;
}
#butt_14 {
bottom: 15vh;
left: 93vw;
}
#butt_15 {
bottom: 5vh;
left: 8vw;
}
#butt_16 {
bottom: 4vh;
left: 68vw;
}
#butt_17 {
bottom: 2vh;
left: 52vw;
}
#butt_18 {
bottom: 28vh;
left: 2vw;
}
#butt_19 {
    bottom: 14vh;
    left: 37vw;
}
#butt_20 {
    bottom: 82vh;
    left: 87vw;
}
/* hover */
#butt_1:hover ~ .text_2_div{
    display: flex;
}
#butt_2:hover ~ .text_3_div {
    display: flex;
}
#butt_3:hover ~ .text_4_div {
    display: flex;
}
#butt_4:hover ~ .text_5_div {
    display: flex;
}
#butt_5:hover ~ .text_6_div {
    display: flex;
}
#butt_6:hover ~ .text_7_div {
    display: flex;
}
#butt_7:hover ~ .text_8_div {
    display: flex;
}
#butt_8:hover ~ .text_9_div {
    display: flex;
}
#butt_9:hover ~ .text_10_div {
    display: flex;
}
#butt_10:hover ~ .text_11_div {
   display: flex; 
}
#butt_11:hover ~ .text_12_div {
   display: flex; 
}
#butt_12:hover ~ .text_13_div {
   display: flex; 
}
#butt_13:hover ~ .text_14_div {
   display: flex; 
}
#butt_14:hover ~ .text_15_div {
   display: flex; 
}
#butt_15:hover ~ .text_16_div {
   display: flex; 
}
#butt_16:hover ~ .text_17_div {
   display: flex; 
}
#butt_17:hover ~ .text_18_div {
   display: flex; 
}
#butt_18:hover ~ .text_19_div {
   display: flex; 
}
#butt_19:hover ~ .text_20_div {
   display: flex; 
}
#butt_20:hover ~ .a_for {
   display: flex; 
} 
.mobile {
    display: none;
}
@media screen and (max-width: 620px) {
    .background_black {
        background-color: rgb(253, 56, 56);
    }
    .all_text {
        display: none;
    }
    .mobile {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 66vh;
        color: rgba(221, 221, 221, 0.7);
    }
    .mob_text {
        font-family: monospace;
        font-weight: bolder;
        font-size: 1.1rem;
        margin: 10px;
    }
    .main_text_0 {
        font-size: 5rem;
    }
}